  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <p><i>&laquo;Maman, regarde, Camille déborde encore ! &raquo; Benjamin 3 ans</i></p>
              <p><i>&laquo;Maman, il y a de la pluie blanche dehors ! &raquo; Anaïs 3 ans</i></p>
              <p><i>&laquo;Maman, je t'aime tout le ciel et tout l'espace, même s'il y a des nuages ou de la pluie. &raquo; Anaïs 4 ans</i></p>
              <p><i>&laquo;Maman, je ne peux pas voir, il y a du noir. &raquo; Benjamin 3 ans</i></p>
          </div>
      </div>
  </aside>
