<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Suivez-nous!</h2>
                <hr class="light">
                <p class="text-faded">Il n'y a pas que Facebook pour nous montrer tous les dessous d'une famille. Voici un petit recueil de nos péripéties seulement disponible pour la famille et notre petit club sélect d'amis.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">C'est un départ!</a>
            </div>
        </div>
    </div>
</section>
